.box > h1 {
  margin-bottom: 10px;
  color: white;
  font-size: 40px;
}

.user-container > h1 {
  font-size: 30px;
  word-wrap: break-word;
  color: white;
  margin: 10px 5px;
}

form > label, #error-messages {
  color: white;
}

header > h1 {
  color: white;
}

#recieve-box {
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: bisque;
}

html, body {
  width: 100%;
  min-width: 360px;
  height: 100%;
}

main {
  width: 100%;
}

header {
  width: 100%;
  height: 15vh;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 262px;
}

.box, #recieve-box-container {
  background-color: #0A9396;
  border-radius: 10px;
}

.box {
  padding: 20px 0px;
  border: 6px solid #005F73;
  border-radius: 6px;
  width: 348px;
}

#send-box {
  margin-bottom: 20px;
  padding: 20px 0px;
  height: 525px;
  background-color: #0A9396;
}

#recieve-box {
  width: 100%;
  align-self: center;
}

.user-container {
  width: 100%;
}

#recieve-box-container {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px 20px;
}

input, button {
  margin: 10px 0px;
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}

.user-list > li {
  flex-grow: 1;
}

.new-btn {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px 5px;
  border: solid 6px;
  background-color: #2A9D8F;
  border-color: #005F73;
  border-radius: 15px;
}

#new-image-btn {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px 5px;
  border: solid 6px;
  background-color: #2A9D8F;
  border-color: #005F73;
  border-radius: 15px;
  cursor: pointer;
}

#send-button {
  width: 125px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px 5px;
  border: solid 6px;
  background-color: #2A9D8F;
  border-color: #005F73;
  border-radius: 15px;
}

img {
  border: 6px solid #005F73 !important;
  border-radius: 6px;
}

input {
  border: 6px solid;
  border-color: #005F73;
  border-radius: 3px;
  width: 200px;
  align-self: center;
}

@media (min-width: 375px) {
  .box {
    width: 300px;
  }
  main {
    display: flex;
    justify-content: center;
  }
  input {
    width: 250px;
  }
}
@media (min-width: 450px) {
  .user-list > li {
    padding: 10px 10px;
  }
}
@media (min-width: 600px) {
  .box {
    width: 400px;
  }
  input {
    width: 300px;
  }
}
@media (min-width: 600px) {
  .box {
    width: 500px;
  }
  header > h1 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  #content {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  main {
    margin-right: 20px;
    padding-top: 15vh;
    align-items: center;
  }
  #container {
    margin-right: 20px;
  }
  .box {
    width: 400px;
  }
  #send-box {
    margin-right: 20px;
  }
  .box > h1 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .box {
    width: 500px;
  }
}
@media (min-width: 1400px) {
  .box {
    width: 600px;
  }
  header > h1 {
    font-size: 55px;
  }
}
@media (min-width: 1800px) {
  .box {
    width: 800px;
  }
  #send-box {
    margin-right: 40px;
  }
}

/*# sourceMappingURL=application.css.map */
