.box > h1 {
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
}

.user-container > h1 { 
    font-size: 30px;
    word-wrap: break-word;
    color: white;
    margin: 10px 5px;
}

form > label, #error-messages {
    color: white;
}

header > h1 { 
    color: white;
}